@model Estetika.Otvet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Otvet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Polzovatel.Imya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Polzovatel.Imya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variant.Tekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variant.Tekst)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Otvet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
