@using Estetika.Models.Entities; @model IEnumerable<Otvet>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
    
<h2>Ответы пользователей на тест</h2>


<table class="table table-striped">
    <tr>
        <th class="tdbackground">
            Пользователь
        </th>
        <th class="tdbackground">
            Выбранный ответ
        </th>
        <th class="tdbackground"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Polzovatel.Imya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant.Tekst)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_Otvet }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Otvet })
        </td>
    </tr>
}

</table>
<button class=" btn btn-default stylebuttonfortableadd ">


    @Html.ActionLink("Добавить ответы пользователей", "Create", new { @class = "fontcolor " })

</button>