@model IEnumerable<Estetika.Otvet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Polzovatel.Imya)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant.Tekst)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Polzovatel.Imya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant.Tekst)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Otvet }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Otvet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Otvet })
        </td>
    </tr>
}

</table>
