@using Estetika.Models.Entities; @model IEnumerable<Polzovatel>
@{
    ViewBag.Title = "Управление данными";
}
<br />
<br />

<h3>Управление данными:</h3>
<ul>
    <li>@Html.ActionLink("Запись", "Index", "Zapis", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Пользователи", "Index", "Polzovatels", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Товары", "Index", "Tovars", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Тип товара", "Index", "Tip_Tovar", new { area = "" }, new { @class = "header-style-text decor" })</li>
    <li>@Html.ActionLink("Ответы на вопросы", "Index", "Variants", new { area = "" }, new { @class = "header-style-text decor" })</li>
    @*<li>@Html.ActionLink("Мастера", "Index", "Masters", new { area = "" }, new { @class = "header-style-text decor" })</li>*@
    <li>@Html.ActionLink("Тип мастера", "Index", "Tip_Master", new { area = "" }, new { @class = "header-style-text decor" })</li>
</ul>