@using Estetika.Models.Entities; @model IEnumerable<Polzovatel>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<h3>Пользователи</h3>


<table class="table  table-striped">
    <tr>
        <th class="tdbackground">
            Имя
        </th>
        <th class="tdbackground">
            ФИО пользователя
        </th>
        <th class="tdbackground"> 
            Электронная почта
        </th>
        <th class="tdbackground">
            Номер телефона
        </th>
        <th class="tdbackground">
            Логин
        </th>
        <th class="tdbackground">
           Пароль
        </th>
        <th class="tdbackground">
           Тип пользователя
        </th>
        <th class="tdbackground"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phamilia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Electronnya_Pochta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            Пароль скрыт в целях безопастности
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tip_Polzovatel.Imya_Tip_Polzovatel)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.ID_Polzovatel }) |
           
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Polzovatel })
        </td>
    </tr>
}

</table>
<button class=" btn btn-default stylebuttonfortableadd ">

    @Html.ActionLink("Добавить пользователя", "Create", new { @class = "fontcolor " })
   

</button>