@model IEnumerable<Estetika.Zapis>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vremya)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Master.Imya_Master)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Polzovatel.Imya)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vremya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Master.Imya_Master)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Polzovatel.Imya)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Zapis }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Zapis }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Zapis })
        </td>
    </tr>
}

</table>
