@using Estetika.Models.Entities; @model Zapis

@{
    ViewBag.Title = "Запись клиента | BETAHAIR";
}


<br />
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Запись клиента</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Zapis)

        <div class="form-group">
            <label class="control-label col-md-2">Дата</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Время</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vremya, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vremya, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Клиент</label>
            <div class="col-md-10">
                @Html.DropDownList("ID_Polzovatel", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Polzovatel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Мастер</label>
            <div class="col-md-10">
                @Html.DropDownList("ID_Master", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Master, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Активность заявки</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activien)
                    @Html.ValidationMessageFor(model => model.Activien, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к записям", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
