@using Estetika.Models.Entities; @model Variant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Variant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tekst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vopros.Zagolovok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vopros.Zagolovok)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Variant }) |
    @Html.ActionLink("Back to List", "Index")
</p>
