@using Estetika.Models.Entities; @model IEnumerable<Variant>

@{
    ViewBag.Title = "Вопросы на ответы | BETAHAIR";
}

<br />
<br />
<br />
<h2>Вопросы на ответы</h2>


<table class="table  table-striped">
    <tr>
        <th class="tdbackground">
            Вопрос
        </th>
        <th class="tdbackground">
            Вариант ответа
        </th>

        <th class="tdbackground"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vopros.Zagolovok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tekst)
            </td>

            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.ID_Variant }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Variant })
            </td>
        </tr>
    }

</table>
<button class=" btn btn-default stylebuttonfortableadd ">


    @Html.ActionLink("Создавть варинанты на вопросы", "Create", new { @class = "fontcolor " })

</button>
