@using Estetika.Models.Entities; @model Tip_Master

@{
    ViewBag.Title = "Edit";
}

<br />
<br />
<br />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Изменить тип мастера</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Tip_Master)

    <div class="form-group">
        <label class="control-label col-md-2">Тип мастера</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Imya_Tip_Master, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Imya_Tip_Master, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
