@using Estetika.Models.Entities; @model Tovar

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Редактировать товар</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_Tovar)

        <div class="form-group">
            <label class="control-label col-md-2">Название товара</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Imya_Tovar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Imya_Tovar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Фото товара</label>
            <div class="col-md-10">
                @{ if (Model.Photo_Tovar == null)
                    {
                        <img id='previewImage' class="imgactive" style='width:150px; height:150px;' src="~/Resource/userphoto.png" />
                    }
                    else
                    {
                        @Html.Raw("<img id='previewImage' class='imgactive' style='width:150px; height:150px;' src=\"data:image/jpeg;base64,"
                                                             + Convert.ToBase64String(Model.Photo_Tovar) + "\" />")

                    }
                }
                @Html.ValidationMessageFor(model => model.Photo_Tovar, "", new { @class = "text-danger" })
            </div>
            <div class="editor-field">
                <input id="imageInput" type="file" name="uploadImage" />

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Тип товара</label>
            <div class="col-md-10">
                @Html.DropDownList("ID_Tip_Tovar", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Tip_Tovar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Цена</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prais, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prais, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Описание товара</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Opisanie_Tovar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Opisanie_Tovar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Пользователь</label>
            <div class="col-md-10">
                @Html.DropDownList("ID_Polzovatel", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Polzovatel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Срок хранения</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Srok_hranen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Srok_hranen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Маркировка</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Markirofka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Markirofka, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Условия хранения</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Uslovia_hranenya, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Uslovia_hranenya, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
