@using Estetika.Models.Entities; @model IEnumerable<Tovar>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />

<h3>Товар</h3>


<table class="table table-striped">
    <tr>
        <th class="tdbackground">
            Имя товара
        </th>
        <th class="tdbackground">
            Фото товара
        </th>
        <th class="tdbackground">
            Цена
        </th>
        <th class="tdbackground">
           Описание товара
        </th>
        <th class="tdbackground">
           Срок хранения
        </th>
        <th class="tdbackground">
            Маркировка
        </th>
        <th class="tdbackground">
            Условия хранения
        </th>
        <th class="tdbackground">
           Товар добавил
        </th>
        <th class="tdbackground">
           Тип товары
        </th>
        <th class="tdbackground"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imya_Tovar)
        </td>
        <td>
            @{ if (item.Photo_Tovar == null)
                {
                    <img id='previewImage' class="imgactive" style='width:150px; height:150px;' src="~/Resource/userphoto.png" />
                }
                else
                {
                    @Html.Raw("<img id='previewImage' class='imgactive' style='width:150px; height:150px;' src=\"data:image/jpeg;base64,"
                                                         + Convert.ToBase64String(item.Photo_Tovar) + "\" />")
                    @Html.ValidationMessageFor(modelItem => item.Photo_Tovar, "", new { @class = "text-danger" })
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opisanie_Tovar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Srok_hranen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Markirofka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uslovia_hranenya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Polzovatel.Imya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tip_Tovar.Imya_Tip_Tovar)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_Tovar }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Tovar })
        </td>
    </tr>
}

</table>
<button class=" btn btn-default stylebuttonfortableadd ">


    @Html.ActionLink("Добавить товары", "Create", new { @class = "fontcolor " })

</button>